<div>
  <h2>Score : {{ score }}</h2>
</div>

<div *ngFor="let question of questions; let i = index">
  <div class="question" *ngIf="currentQuestion.answer === question.answer">
    <div class="images">
      <img [src]="question.firstPicture" alt="" />
      <img [src]="question.secondPicture" alt="" />
      <form action="">
        <input
          *ngFor="let n of formArr.controls"
          type="text"
          [formControl]="n"
        />
      </form>
    </div>
    <button (click)="Skip()" *ngIf="skipCount === 1">SKIP</button>
  </div>
</div>
