.question {
  background-color: #272727;
  height: 100vh;
  text-align: center;
}
img {
  margin-top: 5px;
  align-self: center;
  width: 400px;
  height: 300px;
  object-fit: cover;
  gap: 25px;
}

.images {
  width: 100%;
  text-align: center;
}

input {
  width: 30px;
  text-align: center;
  padding: 5px;
  height: 30px;
  font-size: 25px;
  font-weight: 700;
  color: #272727;
  border: 1px solid #d63afd;
  background-color: #535353;
  color: #d63afd;
}

.correct {
  color: #3afd7e !important;
  border: 1px solid #3afd7e;
}

div {
  background-color: #272727;
  text-align: center;
}

h2 {
  background-color: #272727;
  color: #d63afd;
  margin-bottom: 0;
  font-weight: 700;
}

.container > img {
  height: 80%;
  width: auto;
}
.container {
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
}
form {
  margin-top: 30px;
}

button {
  position: absolute;
  top: 90%;
  right: 5%;
  width: 80px;
  height: 40px;
  border: 1px solid #d63afd;
  color: #d63afd;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  background-color: #d63afd;
  color: #ffffff;
}

.again {
  display: absolute !important;
  top: 430px;
  left: 45%;
  width: 120px;
  height: 60px;
  border: 1px solid rgb(177, 18, 18);
  color: rgb(177, 18, 18);
  font-weight: 700;
  cursor: pointer;
}
.again:hover {
  background-color: rgb(177, 18, 18);
  color: #ffffff;
}
