div {
  background-color: #272727;
  position: absolute;
  width: 40%;
  height: 15%;
  top: 205px;
  right: 3%;
  border: 1px solid #d63afd;
  color: #d63afd;
  text-align: center;
  vertical-align: middle;
  display: inline-flex;
}
