body {
  height: 100vh;
  background-color: #272727;
}
.divofPanels {
  margin-top: 15px;
  width: 100%;
}

.mat-expansion-panel td {
  width: 25%;
  vertical-align: middle;
  font-size: large;
  font-weight: 500;
  text-align: center;
  display: inline-block;
}

.divofPanels mat-expansion-panel {
  width: 100%;
}
img {
  margin-top: 5px;
  float: left;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.mat-expansion-panel-body {
  display: inline-flex;
}
