<body>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form [formGroup]="RegisterForm">
    <h3>Sign Up Here</h3>
    <label for="username">Name</label>
    <input type="text" placeholder=" " id="name" formControlName="name" />
    <label for="username">Lastname</label>
    <input
      type="text"
      placeholder=" "
      id="lastname"
      formControlName="lastName"
    />
    <label for="username">Email</label>
    <input type="text" placeholder=" " id="username" formControlName="email" />
    <label for="password">Password</label>
    <input
      type="password"
      placeholder=""
      id="password"
      formControlName="password"
    />
    <label for="admin">Is Admin?</label>
    <input
      type="checkbox"
      placeholder=" "
      id="admin"
      class="checkmark"
      formControlName="isAdmin"
    />

    <button (click)="signUp()">Sign Up</button>
    <div class="social">
      <div class="go">Forgot the password?</div>
    </div>
  </form>
</body>
