<body>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form>
    <h3>Sign Up Here</h3>
    <label for="username">Name</label>
    <input type="text" placeholder=" " id="name" />
    <label for="username">Lastname</label>
    <input type="text" placeholder=" " id="lastname" />
    <label for="username">Email</label>
    <input type="text" placeholder=" " id="username" />
    <label for="password">Password</label>
    <input type="password" placeholder="" id="password" />
    <label for="username">Is Admin?</label>
    <input type="checkbox" placeholder=" " id="name" class="checkmark" />

    <button>Log In</button>
    <div class="social">
      <div class="go">Forgot the password?</div>
    </div>
  </form>
</body>
