* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.mainButt {
  background-color: #d63afd;
  color: #ffffff;
  border: none;
  height: 40px;
  width: 110px;
  border-radius: 8px;
  margin-left: 1%;
  cursor: pointer;
}
.mat-expansion-panel-header:not([aria-disabled="true"]) {
  cursor: pointer;
  background-color: #d63afd !important;
  color: #ffffff;
}

.mat-expansion-panel-header:not([aria-disabled="true"]):hover {
  cursor: pointer;
  background-color: #eca0ff !important;
  color: #ffffff;
}

.mat-expansion-panel-body {
  background-color: #272727;
  color: #ffffff;
}

mat-expansion-panel {
  margin-left: 1% !important;
  margin-right: 1% !important;
  width: 50% !important;
}
.darkButt {
  background-color: #272727;
  color: #d63afd;
  border: 1px solid #d63afd;
  width: 80px;
  height: 45px;
  cursor: pointer;
  border-radius: 4px;
}
